<!DOCTYPE html>
<html>
    <head>
        {{>partials/head}}
        <link rel="stylesheet" href="/css/style.css">
        
 
    </head>

    <body>
        <header>
            {{> partials/navbar}}
        
        </header>   
        <section class="section1">
            <div class="container plate">
                <div class="bg-color">
                    <H1 classe="titlebanner" >Plates</H1>
                    <hr width="15%">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
                </div>
            </div>  
        </section>
        <section>
            <div class="container ">
                <div class="row">
                    <div class="col-6 col-lg-4 mt-5">
                        <a href="/product-details">
                            <img src="./img/img-1.PNG">
                        </a>
                        
                        <div class="pt-4">
                            <div>
                                <H6 class="text-center text-muted">kiriko</H6>
                            </div>
                            <div class="text-category" >Blue stripe stoneware plate</div>
                            <div class="price">$40.00</div>
                         </div>
                    </div>  
                    <div class="col-6 col-lg-4 mt-5">
                        <a href="/product-details">
                            <img src="./img/img-2.PNG">
                        </a>
                        
                        <div class="pt-4">
                            <div>
                                <H6 class="text-center text-muted">kiriko</H6>
                            </div>
                            <div class="text-category">Hand painted blue flat dish</div>
                            <div class="price">$28.00</div>
                        </div>
                    </div>  
                    <div class="col-6 col-lg-4 mt-5">
                        <a href="/product-details">
                            <img src="./img/img-3.PNG">
                        </a>
                        
                        <div class="pt-4">
                            <div>
                                <H6 class="text-center text-muted">Dust & Form</H6>
                            </div>
                            <div class="text-category">Heme</div>
                            <div class="price">$52.00</div>
                        </div>
                    </div>  
                    <div class="col-6 col-lg-4 mt-5">
                        <a href="/product-details">
                            <img src="./img/img-4.PNG">
                        </a>
                        
                        <div class="mt-4">
                            <div>
                                <H6 class="text-center text-muted">kiriko</H6>
                            </div>
                            <div class="text-category">Mashiko-yaki green small plate</div>
                            <div class="price">$18.00</div>
                        </div>
                    </div>  
                    <div class="col-6 col-lg-4 mt-5">
                        <a href="/product-details">
                            <img src="./img/img-5.PNG" >
                        </a>
                        
                        <div class="mt-4">
                            <div>
                                <H6 class="text-center text-muted">kiriko</H6>
                            </div>
                            <div class="text-category">Mashiko-yaki indigo small plate</div>
                            <div class="price">$28.00</div>
                        </div>
                    </div>  
                    <div class="col-6 col-lg-4 mt-5">
                        <a href="/product-details">
                            <img src="./img/img-6.PNG">
                        </a>
                        
                        <div class="mt-4">
                            <div>
                                <H6 class="text-center text-muted">kiriko</H6>
                            </div>
                            <div class="text-category">Mashiko-yaki saucer</div>
                            <div class="price">$18.00</div>
                        </div>
                    </div>  
                </div>
            </div>
        </section>
    </body>
</html>